* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  background-color: darkcyan;
}

footer {
  width: 100%;
  padding: 15px;
  text-align: center;
  position: absolute;
  bottom: 0;
  color: wheat;
  font-weight: 600;
  background-color: #b93531;
}

footer a {
  text-decoration: none;
  color: yellowgreen
}
.option button img {
  width: 80px;
}

.option {
  margin: auto;
}

.option button {
  background-color: rgb(0, 206, 209);
  border: 4px brown solid;
  padding: 20px;
  border-radius: 60%;
  cursor: pointer;
}

.option button:active {
  background-color: rgb(41, 110, 111);
}

.result {
  margin: 30px auto;
  width: 30%;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border: 2px yellow solid;
  border-radius: 30px;
  background-color: bisque;
}
